Compare the analytical solution for the spec rad with the Monte Carlo estimates

In [13]:
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import quantecon as qe

from scipy.linalg import eigvals
import pandas as pd

In [14]:
from projection_code.abel_model import AbelModel

In [15]:
from projection_code import project_valuation_ops

In [104]:
ab = AbelModel(β=0.985)

In [105]:
ab.σ

0.002

In [106]:
ab.spec_rad_analytic()

0.9850088650398926

In [107]:
%time ab.local_spec_rad_iterative(tol=1e-9, max_iter=10000)

Converged in 944 iterations
CPU times: user 556 ms, sys: 0 ns, total: 556 ms
Wall time: 552 ms

0.9850038944560956

In [122]:
%time ab.local_spec_rad_simulation(num_paths=10000, ts_length=1000)

CPU times: user 696 ms, sys: 40 ms, total: 736 ms
Wall time: 735 ms

0.98500781348275379

In [113]:
nvals = [200,  500, 600, 700, 800, 900, 1000]
mvals = [750, 1000, 2000, 5000, 10000]

In [114]:
out = np.empty((len(mvals), len(nvals)))

In [115]:
for (i, n) in enumerate(nvals):
    for (j, m) in enumerate(mvals):
        out[j, i] = ab.local_spec_rad_simulation(num_paths=m, ts_length=n)

In [116]:
out

array([[ 0.98500288,  0.9850058 ,  0.98500691,  0.98501364,  0.98500962,
         0.98500571,  0.98501251],
       [ 0.98500897,  0.9850065 ,  0.98500652,  0.9850068 ,  0.9850082 ,
         0.98500911,  0.98500358],
       [ 0.98500856,  0.98500608,  0.98500868,  0.98501076,  0.98500139,
         0.98501165,  0.98500865],
       [ 0.98500642,  0.98500823,  0.98500563,  0.98500781,  0.98500706,
         0.98500729,  0.98501092],
       [ 0.98500724,  0.98500963,  0.98500897,  0.98500875,  0.98500892,
         0.98500932,  0.98500757]])

In [117]:
df = pd.DataFrame(out)

In [118]:
df.columns = ["n = {}".format(n) for n in nvals]

In [119]:
df.index = ["m = {}".format(m) for m in mvals]

In [120]:
df

,n = 200,n = 500,n = 600,n = 700,n = 800,n = 900,n = 1000
m = 750,0.985003,0.985006,0.985007,0.985014,0.985010,0.985006,0.985013
m = 1000,0.985009,0.985007,0.985007,0.985007,0.985008,0.985009,0.985004
m = 2000,0.985009,0.985006,0.985009,0.985011,0.985001,0.985012,0.985009
m = 5000,0.985006,0.985008,0.985006,0.985008,0.985007,0.985007,0.985011
m = 10000,0.985007,0.985010,0.985009,0.985009,0.985009,0.985009,0.985008

In [121]:
df.to_latex("out.tex")