## Replicate the spectral radius tables from the CRRA example

In [58]:
from mp_model import MehraPrescott
import numpy as np
import pandas as pd

In [121]:
mp = MehraPrescott(Î³=2.0)

Check that the stationary mean and standard deviation line up:

In [122]:
mp.ssd

0.0012558858188906844

In [123]:
mp.smean

0.01762711864406778

Here's the spectral radius at default values:

In [124]:
mp.spec_rad_analytic()

0.97272729339331709

In [125]:
mp.spec_rad_sim()

0.97272394980728105

Generate the table

In [126]:
nvals = [200,  500, 600, 700, 800, 900, 1000]
mvals = [2000, 5000, 7500, 10000]

In [127]:
out = np.empty((len(mvals), len(nvals)))

In [130]:
for (i, n) in enumerate(nvals):
    for (j, m) in enumerate(mvals):
        out[j, i] = mp.spec_rad_sim(num_paths=m, ts_length=n)

In [131]:
out

array([[ 0.97274258,  0.97273035,  0.97272073,  0.97273754,  0.97271982,
         0.97272678,  0.97273041],
       [ 0.97271964,  0.97272842,  0.97273324,  0.97272586,  0.97272679,
         0.97272537,  0.97272351],
       [ 0.97272658,  0.97273558,  0.97272506,  0.9727266 ,  0.97272743,
         0.97272695,  0.97272698],
       [ 0.9727279 ,  0.97272641,  0.97272401,  0.97272656,  0.97272445,
         0.97272722,  0.97272567]])

In [132]:
df = pd.DataFrame(out)

In [133]:
df.columns = ["n = {}".format(n) for n in nvals]

In [134]:
df.index = ["m = {}".format(m) for m in mvals]

In [135]:
df

,n = 200,n = 500,n = 600,n = 700,n = 800,n = 900,n = 1000
m = 2000,0.972743,0.972730,0.972721,0.972738,0.972720,0.972727,0.972730
m = 5000,0.972720,0.972728,0.972733,0.972726,0.972727,0.972725,0.972724
m = 7500,0.972727,0.972736,0.972725,0.972727,0.972727,0.972727,0.972727
m = 10000,0.972728,0.972726,0.972724,0.972727,0.972724,0.972727,0.972726

In [136]:
df.to_latex("out.tex")