## Replicate the spectral radius tables from the CRRA example

In [117]:
from mp_model import MehraPrescott
import numpy as np
import pandas as pd

In [139]:
mp = MehraPrescott(Î³=2.4)

In [140]:
pd.set_option('precision', 7)

Check that the stationary mean and standard deviation line up:

In [141]:
mp.ssd

0.0012558858188906844

In [142]:
mp.smean

0.01762711864406778

Here's the spectral radius at default values:

In [143]:
mp.spec_rad_analytic()

0.96591692164430643

Generate the table

In [144]:
nvals = [400, 600, 800, 1000, 1200]
mvals = [10000, 15000, 20000, 25000]

In [145]:
out = np.empty((len(mvals), len(nvals)))

In [150]:
for (i, n) in enumerate(nvals):
    for (j, m) in enumerate(mvals):
        out[j, i] = mp.spec_rad_sim(num_paths=m, ts_length=n)

In [151]:
out

array([[ 0.96591578,  0.96591456,  0.96591073,  0.96591814,  0.96591262],
       [ 0.96591374,  0.96591456,  0.96591543,  0.96591933,  0.96591608],
       [ 0.96591189,  0.96591437,  0.96591591,  0.96591661,  0.96591416],
       [ 0.96591668,  0.96591269,  0.96591555,  0.96591609,  0.9659127 ]])

In [156]:
df = pd.DataFrame(out)

In [157]:
df.columns = ["n = {}".format(n) for n in nvals]

In [158]:
df.index = ["m = {}".format(m) for m in mvals]

In [159]:
df

             n = 400    n = 600    n = 800   n = 1000   n = 1200
m = 10000  0.9659158  0.9659146  0.9659107  0.9659181  0.9659126
m = 15000  0.9659137  0.9659146  0.9659154  0.9659193  0.9659161
m = 20000  0.9659119  0.9659144  0.9659159  0.9659166  0.9659142
m = 25000  0.9659167  0.9659127  0.9659155  0.9659161  0.9659127

In [160]:
df.to_latex("out.tex")

In [133]:
print(df)

             n = 400    n = 600    n = 800   n = 1000   n = 1200
m = 10000  0.9642160  0.9642266  0.9642217  0.9642176  0.9642245
m = 15000  0.9642196  0.9642174  0.9642189  0.9642167  0.9642211
m = 20000  0.9642207  0.9642193  0.9642234  0.9642242  0.9642242
m = 25000  0.9642189  0.9642222  0.9642191  0.9642220  0.9642249